[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/justin/Desktop/share-folder]
row=0
col=2

[/home/justin/Desktop/bcdc01]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/justin]
row=2
col=0

